:root {
    --border-radius: 10px;
}

body {
    min-width: 450px;
}

.container{
    background: grey;
    display: flex;
    flex-direction: column;
}


.container .row {
    display: flex;
    margin: 0 auto;
}

.container .row .slot{
    background: url("img/reel_normal.png") repeat-y;
	width:86px;
	height:70px;
	border: 1px solid #000;
	background-position-y: 4px;
    background-position-x: 0;
}


.start-button > img {
    height: 10%;
    width: 10%;
}